<div class="row mb-5">
    <div class="col-md-12">
        <div class="border p-4 rounded" role="alert">
        Returning customer? <a href="#">Click here</a> to login
        </div>
    </div>  
</div>
<div class="row">
    <div class="col-md-6 mb-5 mb-md-0">
        <div class="row mb-4">
        <h2 class="h3 mb-3 text-black">Datos de Entrega</h2>
        <div class="p-5 p-lg-5 border">
            <!-- <div class="mb-3">
                <label for="c_country" class="text-black">Country <span class="text-danger">*</span></label>
                <select id="c_country" class="form-select">
                    <option value="1">Select a country</option>
                    <option value="2">bangladesh</option>
                    <option value="3">Algeria</option>
                    <option value="4">Afghanistan</option>
                    <option value="5">Ghana</option>
                    <option value="6">Albania</option>
                    <option value="7">Bahrain</option>
                    <option value="8">Colombia</option>
                    <option value="9">Dominican Republic</option>
                    <option value="PE">PERU</option>
                </select>
            </div> -->
            <div class="mb-3 row">
                <div class="col-md-6">
                    <label for="c_fname" class="text-black">Nombre <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="c_fname" name="c_fname">
                </div>
                <div class="col-md-6">
                    <label for="c_lname" class="text-black">Apellido <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="c_lname" name="c_lname">
                </div>
            </div>   
            <div class="mb-3 row">
                <div class="col-md-12">
                    <label for="c_address" class="text-black">Dirección <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="c_address" name="c_address" placeholder="Street address">
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-md-12">
                    <label for="c_address" class="text-black">Informacion Adicional <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="c_address" name="c_address" placeholder="Apartment, suite, unit etc. (optional)">
                </div>
            </div>        
            <div class="mb-3 row">
                <div class="col-md-6">
                    <label for="c_departament" class="text-black">Departamento<span
                            class="text-danger">*</span></label>                         
                    <select #mySelectDepartament id="c_departament" class="form-select"  (change)="getProvinces(mySelectDepartament.value)">
                        <option *ngFor="let departamento of listaDepartamentos" [value]="departamento.id">{{departamento.name}}   
                    </select>                   
                </div>
                <div class="col-md-6">
                    <label for="c_province" class="text-black">Provincia <span class="text-danger">*</span></label>
                    <select #mySelectProvince id="c_departament" class="form-select" (change)="getDistricts(mySelectProvince.value)">
                        <option *ngFor="let provincia of listaProvincias" [value]="provincia.id">{{provincia.name}}   
                    </select>    
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-md-6">
                    <label for="c_district" class="text-black">Distrito<span
                            class="text-danger">*</span></label>
                    <select #mySelectDistrict id="c_district" class="form-select" >
                        <option *ngFor="let distrito of listaDistritos" [value]="distrito.id">{{distrito.name}}   
                    </select>   
                                    
                </div>               
            </div>           
            <div class="row mb-5">
                <div class="col-md-6">
                    <label for="c_phone" class="text-black">Celular <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="c_phone" name="c_phone" placeholder="Phone Number">
                </div>
            </div>            
        </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Llegada</h2>
                <div class="p-5 p-lg-5 border">              
                    <div class="mb-3 row">
                        <div class="col-md-12">
                            <label for="c_code" class="text-black mb-3">Correo electrónico:</label><span>lflorentinomedrano@gmail.com</span>
                        </div>                    
                    </div>                           
                    <div class="mb-3 row">
                        <div class="col-md-12">
                            <label for="c_voucher" class="text-black">Comprobante<span
                                    class="text-danger">*</span></label>                         
                            <select #mySelectVoucher id="c_voucher" class="form-select">
                                <option *ngFor="let voucher of listaVoucher" [value]="voucher.id">{{voucher.name}}   
                            </select>                   
                        </div>                      
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label for="c_document_type" class="text-black">Documento<span
                                    class="text-danger">*</span></label>
                            <select #mySelectDocumentType id="c_document_type" class="form-select" >
                                <option *ngFor="let document of listaDocumentoIdentidad" [value]="document.id">{{document.name}}   
                            </select>   
                                            
                        </div>   
                        <div class="col-md-6">
                            <!-- <label for="c_document" class="text-black">Nro Documento<span
                                    class="text-danger">*</span></label>                           -->
                            <input type="text" class="form-control" id="c_document" name="c_phone" placeholder="Nro Documento">               
                        </div>                  
                    </div>           
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <label for="c_phone" class="text-black">Celular <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_phone" name="c_phone" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="c_chk_older" class="text-black" data-toggle="collapse" href="#"
                        role="button" aria-expanded="false" aria-controls="create_an_account"><input type="checkbox" value="1"
                            id="c_chk_older"> Soy mayor de 14 años. </label>
                    </div>
                    
                </div>
            </div>
        </div>

       
    </div>
    <div class="col-md-6">
        <div class="row mb-4">
            <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Coupon Code</h2>
                <div class="p-3 p-lg-5 border">
                    <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
                    <div class="input-group w-75">
                        <input type="text" class="form-control" id="c_code" placeholder="Coupon Code"
                            aria-label="Coupon Code" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-sm" type="button" id="button-addon2">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mb-4">
            <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Resumen del pedido</h2>
                <div class="p-3 p-lg-5 border">
                    <table class="table site-block-order-table mb-5">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let product of productsLS">
                                <td>{{product.productName}} <strong class="mx-2">x</strong> {{product.quantity}}</td>
                                <td>{{product.subtotal}}</td>
                            </tr>                            
                            <tr>
                                <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                                <td class="text-black">{{subtotal}}</td>
                            </tr>
                            <tr>
                                <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                                <td class="text-black font-weight-bold"><strong>{{subtotal}}</strong></td>
                            </tr>
                            <tr>
                                <td>(IGV incluido  {{igvtotal}} )</td>
                                <td></td>
                            </tr>
                           
                        </tbody>
                    </table>
                    <div class="border p-3 mb-3">                        
                        <div class="" id="collapsebank">
                            <div class="row mb-2 mt-2">
                                <div class="col-md-12">
                                    <div class="gl-vspace-bpall-medium">
                                        <div class="gl-vspace-bpall-medium bottom-content___38506">
                                            <h6 class="gl-label gl-label--l gl-label--bold">OPCIONES DE PAGO</h6>
                                            <img style="max-width: 100%" src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/esPE/Images/ONSITE_CART682x134px_tcm202-730129.jpg" alt="">
                                        </div>
                                    </div>
                                </div>      
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg py-3 btn-block" [routerLink]="['/payment']">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
     
    </div>
</div>