<div class="card filters mb-4">   
    <div class="card-body">
        <h6 class="card-title text-center mb-3">CATEGORIAS</h6>
        <ul class="list-unstyled mb-0">
            <li class="mb-1"><a href="#" class="d-flex"><span>Men</span> <span class="text-black ml-auto">(2,220)</span></a></li>
            <li class="mb-1"><a href="#" class="d-flex"><span>Women</span> <span class="text-black ml-auto">(2,550)</span></a></li>
            <li class="mb-1"><a href="#" class="d-flex"><span>Children</span> <span class="text-black ml-auto">(2,124)</span></a></li>
        </ul>        
    </div>   
</div>

<div class="card  mb-4">
    <div class="card-body">     
        <h6 class="m3 text-uppercase text-black d-block">Filtro precio</h6>       
        <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">                      
    </div>
    <div class="card-body">        
        <h6 class="mb-3 text-uppercase text-black d-block">Size</h6>
        <label for="s_sm" class="d-flex">
        <input type="checkbox" id="s_sm" class="me-2 mt-1"> <span class="text-black">Small (2,319)</span>
        </label>
        <label for="s_md" class="d-flex">
        <input type="checkbox" id="s_md" class="me-2 mt-1"> <span class="text-black">Medium (1,282)</span>
        </label>
        <label for="s_lg" class="d-flex">
        <input type="checkbox" id="s_lg" class="me-2 mt-1"> <span class="text-black">Large (1,392)</span>
        </label>    
    </div>
    <div class="card-body">     
            <h6 class="card-title mb-3">COLOR</h6>           
            <a href="#" class="d-flex color-item align-items-center">
            <span class="bg-danger color d-inline-block rounded-pill me-2"></span> <span class="text-black">Red (2,429)</span>
            </a>
            <a href="#" class="d-flex color-item align-items-center">
            <span class="bg-success color d-inline-block rounded-circle me-2"></span> <span class="text-black">Green (2,298)</span>
            </a>
            <a href="#" class="d-flex color-item align-items-center">
            <span class="bg-info color d-inline-block rounded-circle me-2"></span> <span class="text-black">Blue (1,075)</span>
            </a>
            <a href="#" class="d-flex color-item align-items-center">
            <span class="bg-primary color d-inline-block rounded-circle me-2"></span> <span class="text-black">Purple (1,075)</span>
            </a>    
    </div>  
</div>
