<div class="row  justify-content-center">
    <div class="col-md-8 mb-5">
        <div class="guest-form-card card card border-0">
            <div class="card-header text-center">
                <h4>REGISTRATE</h4>
            </div>
            <div class="card-body border-0">
                <form [formGroup]="registerForm" (ngSubmit)="register()">
                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="name" class="form-label">Nombres<span
                                    class="text-danger">*</span></label>
                                <input 
                                type="text" 
                                class="form-control"  
                                id="name" 
                                [ngClass]="{'is-invalid': registerForm.get('name').touched && registerForm.get('name').invalid}"
                                formControlName="name" />
                                <span class="invalid-feedback">Nombre no puede estar en blanco</span>   
                                {{registerForm.get('name').errors | json}}                   
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="lastname" class="form-label">Apellidos<span
                                    class="text-danger">*</span></label>
                                <input 
                                type="text" 
                                class="form-control"  
                                id="lastname" 
                                [ngClass]="{'is-invalid': registerForm.get('lastname').touched && registerForm.get('lastname').invalid}"
                                formControlName="lastname" />
                                <span class="invalid-feedback">Apellidos no puede estar en blanco</span>      
                                {{registerForm.get('lastname').errors | json}}                     
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label for="birthday" class="text-black">Fecha de nacimiento<span class="text-danger">*</span></label>                      
                            <div class="input-group">
                                  <input
                                    class = "form-control"
                                    placeholder = "dd/mm/yyyy"
                                    name = "birthday"
                                    formControlName = "birthday"                                
                                    ngbDatepicker
                                    #d= "ngbDatepicker"
                                    [minDate]="minDate"
                                    [ngClass]="{'is-invalid': registerForm.get('birthday').touched && registerForm.get('birthday').invalid}"
                                /> 
                              
                                <button class="btn btn-outline-secondary rounded-end" (click)="d.toggle()" type="button"><fa-icon [icon]="faCalendar"></fa-icon></button> 
                                <span class="invalid-feedback">Apellidos no puede estar en blanco</span>
                             
                            </div>                           
                        </div>  
                        <div class="col-md-6">
                            <label for="sexRadioOptions" class="text-black">Sexo<span class="text-danger">*</span></label>                      
                            <div class="input">
                
                                <div class="input-group p-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"   [ngClass]="{'is-invalid': registerForm.get('sex').touched && registerForm.get('sex').invalid}" formControlName="sex"  type="radio" name="sex" id="inlineRadio1" value="M">
                                        <label class="form-check-label" for="inlineRadio1">Hombre</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input"   [ngClass]="{'is-invalid': registerForm.get('sex').touched && registerForm.get('sex').invalid}" formControlName="sex" type="radio" name="sex" id="inlineRadio2" value="F">
                                        <label class="form-check-label" for="inlineRadio2">Mujer</label>
                                      </div> 
                                      {{registerForm.get('sex').errors | json}}
                                      <!-- <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
                                        <label class="form-check-label" for="inlineRadio3"> Otro</label>
                                      </div>                                    -->
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo<span
                            class="text-danger">*</span></label>
                        <input 
                        type="email" 
                        class="form-control" 
                        [ngClass]="{'is-invalid': registerForm.get('email').touched && registerForm.get('email').invalid}"
                        id="email" 
                        formControlName="email"/>
                        <span class="invalid-feedback">
                            <span *ngIf="registerForm.get('email').hasError('required')"> Correo no puede estar en blanco</span>   
                            <span *ngIf="registerForm.get('email').hasError('email')"> Correo debe ser uno válido</span>   
                        </span>
                        {{registerForm.get('email').errors | json}}
                        
                    </div>                     
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña<span
                            class="text-danger">*</span></label>
                        <input 
                        type="password" 
                        class="form-control" 
                         id="password" 
                         [ngClass]="{'is-invalid': registerForm.get('password').touched && registerForm.get('password').invalid}"
                         formControlName="password"/>
                         {{ registerForm.get('password').errors | json}}
                        <span class="invalid-feedback">                            
                            <span *ngIf="registerForm.get('password').hasError('required')">Contraseña no puede estar en blanco</span>
                            <span *ngIf="registerForm.get('password').hasError('symbol')">Password must contain @</span>
                            <span *ngIf="registerForm.get('password').hasError('minlength')">Contraseña debe contener minimo 4 caracteres</span>
                        </span>                      
                    </div>    
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirmar Contraseña<span
                            class="text-danger">*</span></label>
                        <input 
                        type="password" 
                        class="form-control" 
                        id="confirmPassword" 
                        [ngClass]="{'is-invalid': registerForm.get('confirmPassword').touched && registerForm.get('confirmPassword').invalid}"
                        formControlName="confirmPassword"/>
                        <span class="invalid-feedback">
                            <!-- <span *ngIf="registerForm.get('confirmPassword').hasError('required')">confirmPassword no puede estar en blanco</span> -->
                            <span *ngIf="registerForm.get('confirmPassword').hasError('matchPassword')"> Confirmar contraseña debe ser igual.22</span>
                        </span>  
                    </div>  
                   
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" [disabled]="registerForm.invalid">Registrar</button> 
                        {{registerForm.errors}}
                        {{registerForm.value | json}}
                        {{registerForm.status | json}}
                        {{registerForm.invalid | json}}
                        {{registerForm.valid | json}}
                   
                    </div>  

                </form>
            </div>
        </div>        
    </div>
</div>
