<div class="card mb-4 shadow-sm ">
    <a  [routerLink]="['/single-product/',productItem.id]"  routerLinkActive="active">
    <img class="bd-placeholder-img card-img-top"
     width="100%" 
     [src]="productItem.imageUrl"/>   
    </a>
    <a href="#" class="nav-link active" aria-current="page" [routerLink]="['/home']"></a>
    <div class="card-body text-center p-4">
      <!-- <p class="card-text">{{ productItem.description}}</p>     -->
      <a [routerLink]="['/single-product/',productItem.id]"><h6 class="text-muted">{{productItem.name}}</h6></a>        
      <!-- <p>Finding perfect products</p>            -->
      <div><strong class="text-muted">{{ productItem.price  |currency: "S/"}}</strong> o </div>
      <div><strong class="text-muted">{{ productItem.points }}</strong> <small> puntos</small></div>
      
      <!-- <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="addToCart()">Add</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Detail</button>
      </div> -->
      <!-- <div>
        <fa-icon [icon]="addedProductToList ?  faHeart: fasHeart" class="heart" (click)="addedProductToList ? removeFromWishList() : addTowishList()"></fa-icon>
      </div> -->
    </div>
</div>