<div class="card mb-4 shadow-sm">
    
    <img class="bd-placeholder-img card-img-top p-2"
     width="100%" 
     src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/1969_Ford_Mustang_Mach_1_%2837901276352%29.jpg/800px-1969_Ford_Mustang_Mach_1_%2837901276352%29.jpg"/>   
    
     <div class="card-body">
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Detail</button>
        </div>
        <small class="text-muted">{{254  |currency: "S/"}}</small>
      </div>
    </div>
</div>