<div class="row">
    <div class="col-md-4  py-5">
        <div class="guest-form-card card border-0">
            <div class="card-header text-center border-0 ">
                <h3>INICIA SESIÓN</h3>
            </div>
            <div class="card-body">
                <form #loginForm="ngForm" (ngSubmit)="loginForm.valid && login(model)">
                    <div class="mb-3">
                        <label for="username" class="form-label">Correo<span
                            class="text-danger">*</span></label>
                        <input type="username" class="form-control" [ngClass]="{'is-invalid': loginForm.touched && username.invalid}" 
                        id="username" name="username" #username="ngModel" [(ngModel)]="model.email" required />
                        <span class="invalid-feedback">Correo no puede estar en blanco</span>                      
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña<span
                            class="text-danger">*</span></label>
                        <input type="password" class="form-control" [ngClass]="{'is-invalid': loginForm.touched && password.invalid}" 
                        id="password"  name="password"  #password="ngModel" [(ngModel)]="model.password" required/>
                        <span class="invalid-feedback">Contraseña no puede estar en blanco</span>
                    </div>     
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="remember" name="remember" #remember="ngModel"  [(ngModel)]="model.remember">
                        <label class="form-check-label" for="remember">Remember</label>
                    </div>  
                    <app-alert-notification [notificationType]="this.notification_type"></app-alert-notification>      
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" [disabled]="loginForm.invalid">INICIAR SESIÓN</button>            
                    </div>  

                </form>
            </div>
        </div>        
    </div>
    <div  class="col-md-8">
        <div class="container px-4 py-5" id="hanging-icons">          
            <div class="row g-4 py-5 row-cols-12 ">
              <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
                </div>
                <div>
                  <h3>REGÍSTRATE</h3>
                  <p>SI TODAVÍA NO TIENES UNA CUENTA DE USUARIO DE TUWEB.COM UTILIZA ESTA OPCIÓN PARA ACCEDER AL FORMULARIO DE REGISTRO.</p>
                  <p>TE SOLICITAREMOS LA INFORMACIÓN IMPRESCINDIBLE PARA AGILIZAR EL PROCESO DE COMPRA.</p>
                  <a href="#" class="btn btn-dark" [routerLink]="['/register']">
                        REGISTRATE
                  </a>
                  <!-- <a href="#" class="btn btn-dark" [routerLink]="['/register']">
                    LOG OUT
                    </a> -->
                  <!-- <button class="btn btn-primary btn-lg py-3 btn-block" [routerLink]="['/register']">Place Order</button> -->
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
