<!-- <div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
  </div> -->

  <!-- <div class="alert alert-secondary" role="alert">
    A simple secondary alert—check it out!
  </div> -->

  <div *ngIf="showNotification().name == 'success'" class="alert alert-success" role="alert">
    {{showNotification().message}}
  </div>
  <div *ngIf="showNotification().name == 'danger'" class="alert alert-danger" role="alert">
    {{showNotification().message}}
  </div>
  <div *ngIf="showNotification().name == 'warning'" class="alert alert-warning" role="alert">
    {{showNotification().message}}
  </div>
  <!-- 
  <div class="alert alert-info" role="alert">
    A simple info alert—check it out!
  </div>
  <div class="alert alert-light" role="alert">
    A simple light alert—check it out!
  </div>
  <div class="alert alert-dark" role="alert">
    A simple dark alert—check it out!
  </div> -->