/* You can add global styles to this file, and also import other style files */
.cart-item{
    font-size: small;
}

.filters{
    font-size: medium;
}

a {
    color: #7971ea;
    text-decoration: none !important;
    background-color: transparent;
}

a:hover{
    color: #7971ea;;
}