nav{
    li{
        a{
            text-decoration: none;
        }

       
    }

    li:not(.active){
        a{
            color: var(--pupicat-color-azul);
        }        
          
       
    }

    li .active a{
            color: var(--pupicat-color-amarillo);      
    }
    

   
}