<footer class="site-footer border-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="footer-heading mb-4">Pupicat</h5>
                    </div>                                 
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-unstyled">
                            <li><a href="#">Sobre Pupicat</a></li>
                            <li><a href="#">Preguntas fecuentes</a></li>
                            <li><a href="#">Sobre avistamientos</a></li>
                        </ul>
                    </div>                    
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-unstyled">
                            <li><a href="#">Términos y condiciones</a></li>
                            <li><a href="#">Polítucas de privacidad</a></li>
                            <li><a href="#">Trabaja con nosotros</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
            <!-- <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                <h5 class="footer-heading mb-4">Promo</h5>
                <a href="#" class="block-6">
                    <img src="images/xhero_1.jpg.pagespeed.ic.6alHHFzIKu.webp" alt="Image placeholder"
                        class="img-fluid rounded mb-4" data-pagespeed-url-hash="25763458"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                    <h3 class="font-weight-light  mb-0">Finding Your Perfect Shoes</h3>
                    <p>Promo from nuary 15 — 25, 2019</p>
                </a>
            </div> -->
            <div class="col-md-6 col-lg-3 off-set-2 mr-auto">
                <div class="block-5 mb-2">
                    <h5 class="footer-heading mb-4">Contacto</h5>
                    <ul class="list-unstyled">
                           
                        <li class="address"><fa-icon [icon]="faMapMarked"></fa-icon> Lima.Perú</li>
                        <li class="phone"><fa-icon [icon]="faPhone"></fa-icon> +51 902557639</li>
                        <li class="email"><fa-icon [icon]="faEnvelope"></fa-icon> info.pe&#64;pupicat.com</li>
                    </ul>
                </div>             
            </div>
        </div>
        <div class="row">
            
        </div>
        <div class="row pt-4 text-center text-copy">
            <div class="col-md-12">
                <p>
                    Copyright ©
                    <script>document.write(new Date().getFullYear());</script>2021 All rights reserved | This template
                    is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://pupicat.com"
                        target="_blank" class="text-primary">Pupicat</a>
                </p>
            </div>
        </div>
    </div>
</footer>


